
body {
    font-family: sans-serif;
    /* background-image: 'image_06743.jpg'; */
  }

.result {
    background-color:transparent;
    width: 600px;
    top: 20px;
    margin: 50px auto;
    padding: 20px;
    /* top:200px; */
  }